<%= render 'admin_navbar'%>
</br>
<h1>All Traders</h1>
</br>


<%= button_to "Create New Trader", new_user_registration_path, method: :get%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Profile</th>
      <th scope="col">Portfolio</th>
    </tr>
  </thead>
  <tbody>
  <% @traders.each_with_index do |trader,index|%>
    <tr>
      <th scope="row"><%= index+1%></th>
      <td><%= trader.first_name%></td>
      <td><%= trader.email%></td>
      <td><%= link_to 'view Profile', view_profile_path({email:trader.email})%></td>
      <td><%= button_to 'view Portfolio',  view_portfolio_path, method: :get%></td>
    </tr>
  <%end%>
  </tbody>
</table>

<%= button_to "go back", admin_dashboard_index_path, method: :get%>

