<%= render 'admin_navbar'%>
</br>
<h1>All Trasactions</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Company</th>
      <th scope="col">Stocks#</th>
      <th scope="col">Last_price</th>
      <th scope="col">Action</th>
      <th scope="col">Trader</th>
    </tr>
  </thead>
  <tbody>
  <% @all_transactions.each do |transaction|%>
    <tr>
      <td><%= transaction.created_at%></td>
      <td><%= transaction.company + '-' + transaction.symbol%> </td>
      <td><%= transaction.shares%></td>
      <td><%= transaction.current_price%></td>
      <td><%= transaction.commit%></td>
      <td><%= transaction.user.email%></td>

      

    </tr>
  <%end%>
  </tbody>
</table>

<%= button_to "go back", admin_dashboard_index_path, method: :get%>