<%= render 'admin_navbar'%>
</br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Profile</th>
      <th scope="col">Portfolio</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @traders.each_with_index do |trader,index|%>
      <tr>
        <th scope="row"><%= index+1%></th>
        <td style="text-transform:capitalize" class="fs-5" id="trader_name"><%= trader.first_name%></td>
        <td id="email" class="fs-5"><%= trader.email%></td>
        <td><%= link_to 'View Profile', view_profile_path({email:trader.email}),style:"text-decoration:none;", class:"btn btn-primary" ,id:"view_profile" %></td>
        <td><%= link_to 'View Portfolio',  view_portfolio_path({email:trader.email}),style:"text-decoration:none;", class:"btn btn-primary" ,id:"view_portfolio" %></td>
        <% if trader.is_approved == false %>
          <td><%=link_to 'Approve?',approved_path({email:trader.email}),style:"text-decoration:none;", class:"btn btn-danger" %></td>
        <%else%>
          <td id="approved" class="fs-4 text-success">Approved</td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>
</br></br>
<%= link_to "Create New Trader", new_trader_path, style:"text-decoration:none;" ,class:"btn btn-success text-white fs-4", id:"create_new_trader"%>
