<%= render 'admin_navbar'%>

<h2>Portfolio</h2>
<%= 'email: ' + params[:email]%>
</br></br>
<div class="d-flex w-100 flex-wrap">
  <% @company_details.each do |company|%>
    <div class="w-25" style="height:150px">
      <%if company[:shares] != 0%>
            <b><%= company[:name]%></b> </br>
            <span>last_price: &#8369;<%= sprintf('%.2f',company[:last_price]).to_s %></span> </br>
            <span>current_price: &#8369;<%= sprintf('%.2f',company[:current_price]).to_s %></span> </br>
            <span class="text-primary"><%= 'shares:' + company[:shares].to_s%></span></br></br>
      <%end%>
    </div>
  <% end %>
</div>

<%= button_to "go back", admin_dashboard_alltraders_path, method: :get%>

