<div class="home_bg py-5">
  <div class="w-50 text-center text-bg-primary p-5 mx-auto rounded-4">
    <h1 id="title_name">StocK-InfinI-TradE</h1>
    </br>
    <h2 id="sign_up" class="text-dark">Admin Sign up</h2>

      <div class="row">
        <div class="col text-dark">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "admins/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-center" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"text-center" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text-center" %>
            </div>

            </br>
            <div class="actions">
              <%= f.submit "Sign up", class:"btn btn-success"%>
            </div>
          <% end %>
          </br>
          <%= button_to "go back", root_path, method: :get, class:"btn btn-danger"%>

        </div>
      </div>
    </div>
  </div>
</div>