<div class="container text-center">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center">
      <span style="text-transform: capitalize;"><%="Welcome, " + current_user.first_name+' !'%></span>
      <%= current_user.email%>
    </div>
    <div class="col-6 d-flex">
      <nav class="navbar navbar-expand-lg bg-light w-100">
            <ul class="nav nav-tabs d-flex justify-content-around w-100">
              <li class="nav-item">
                  <%= link_to "Buy Stock", trader_dashboard_index_path,class:"nav-link active" %>
              </li>
              <li class="nav-item">
                  <%= link_to "Portfolio",trader_dashboard_portfolio_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                  <%= link_to "All Transactions",  trader_alltransactions_path, class:"nav-link"%>
              </li>
            </ul>
      </nav>
    </div>
    <div class="col">
  </div>
</div>


<%# <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> %>
  <%# <li class="nav-item" role="presentation"> %>
    <%# <%= link_to "Home", trader_dashboard_index_path, class:"nav-link active", id:"pills-home-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-home", type:"button", role:"tab","aria-controls":"pills-home", "aria-selected":"true"%> 
  <%# </li> %>
  <%# <li class="nav-item" role="presentation"> %>
    <%# <%= link_to "Portfolio", trader_dashboard_portfolio_path, class:"nav-link", id:"pills-portfolio-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-portfolio", type:"button", role:"tab","aria-controls":"pills-portfolio", "aria-selected":"false"%> 
  <%# </li> %>
  <%# <li class="nav-item" role="presentation"> %>
    <%# <%= link_to "All Transactions", trader_alltransactions_path, class:"nav-link", id:"pills-transaction-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-transaction", type:"button", role:"tab","aria-controls":"pills-transaction", "aria-selected":"false"%> 
  <%# </li> %>
<%# </ul> %>





