<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <%= link_to "Home", trader_dashboard_index_path,class:"nav-link active" %>
        </li>
        <li class="nav-item">
            <%= link_to "Portfolio",trader_dashboard_portfolio_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "All transactions",  trader_alltransactions_path, class:"nav-link"%>
        </li>
       
      </ul>
    </div>

  </div>
</nav>


<%# <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> %>
  <%# <li class="nav-item" role="presentation"> %>
    <%# <%= link_to "Home", trader_dashboard_index_path, class:"nav-link active", id:"pills-home-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-home", type:"button", role:"tab","aria-controls":"pills-home", "aria-selected":"true"%> %>
  <%# </li> %>
  <%# <li class="nav-item" role="presentation"> %>
    <%# <%= link_to "Portfolio", trader_dashboard_portfolio_path, class:"nav-link", id:"pills-portfolio-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-portfolio", type:"button", role:"tab","aria-controls":"pills-portfolio", "aria-selected":"false"%> %>
  <%# </li> %>
  <%# <li class="nav-item" role="presentation"> %>
    <%# <%= link_to "All Transactions", trader_alltransactions_path, class:"nav-link", id:"pills-transaction-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-transaction", type:"button", role:"tab","aria-controls":"pills-transaction", "aria-selected":"false"%> %>
  <%# </li> %>
<%# </ul> %>





