<%= render 'navbar' %>
</br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Company</th>
      <th scope="col">Stocks#</th>
      <th scope="col">Last_price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @all_transactions.each do |transaction|%>
      <%if transaction.commit == 'buy'%>
        <tr class="bg-warning text-dark">
          <td><%= transaction.created_at%></td>
          <td><%= transaction.company + '-' + transaction.symbol%> </td>
          <td><%= transaction.shares%></td>
          <td><%= transaction.current_price%></td>
          <td><%= transaction.commit%></td>
        </tr>
      <%else%>
        <tr class="bg-info text-dark">
          <td><%= transaction.created_at%></td>
          <td><%= transaction.company + '-' + transaction.symbol%> </td>
          <td><%= transaction.shares%></td>
          <td><%= transaction.current_price%></td>
          <td><%= transaction.commit%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>
