<%= render 'navbar' %>

<h1>Top 10 Companies</h1>
<%= button_to "update Stock",delete_stocks_path ,method: :delete%>
</br></br>
<div class="d-flex w-100 flex-wrap">
  <% @stocks.each do |stock| %>
    <div class="w-25" style="height:100px">
        <b><%= stock.symbol %> - <%= stock.name %></b></br>
        
        <span><%= stock.price%></span> 
        <%if stock.percent_change.to_f < 0%>
          <span class="text-danger">(<%= stock.percent_change%>)</span></br>
        <%else%>
          <span class="text-success">(<%= stock.percent_change%>)</span></br>
        <%end%>

        <button><%= link_to "buy", transaction_type_path({company:stock.name, button:'buy'}), style:"text-decoration:none; color:black;"%></button>
    </div>
  <% end %>
</div>

</br>
</br>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
