<%= render 'navbar' %>
<h1>Top 10 Companies</h1>



<% @stocks.each do |stock| %>

<%= stock.symbol %>
<%= stock.name %>
<%= 100 %>

<%# <%= @client.quote(stock.symbol).latest_price %> %>
<%= button_to "Buy", trader_dashboard_buy_path({:name => stock.name, :symbol => stock.symbol, :price => 100}), method: :get%>


</br>
</br>


<% end %>

<%= button_to "Edit Info", edit_user_registration_path, method: :get%>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
