<%= render 'navbar' %>
</br>
<%= params[:button] + ' ' + 'transaction' %>

<%= form_with url: "/trader_dashboard/create" do |f| %>


  <%= f.hidden_field :company, value: @stocks.name %>
  <%= f.hidden_field :symbol, value: @stocks.symbol %>
  <%= f.hidden_field :current_price, value: @stocks.price %>



  <h1>
    <%= @stocks.name + ' - ' + @stocks.symbol%><br />
  </h1>
  
  <p>
    <%= 'Price: ' + @stocks.price.to_s%><br />
  </p>
  <p>
    <%= 'Shares: ' + params[:shares].to_s%><br />
  </p>

  <% if params[:button] == 'buy'%>
    <p>
      <%= f.label 'No. of Stocks'%></br>
      <%= f.number_field :shares , min: 1%>
    </p>
    <% else %>
    <p>
      <%= f.label 'No. of Stocks'%></br>
      <%= f.number_field :shares, min: 1, max: @max%>
    </p>

  <%end%>
  
  
  

  <p>
    <%= f.submit params[:button] %>
  </p>
  
<% end %>

