<%= render 'navbar' %>
</br>
<h3 style="text-transform: capitalize; text-decoration: underline;"><%= params[:button] + ' ' + 'transaction' %></h3>

<%= form_with url: "/trader_dashboard/create" do |f| %>

  <%= f.hidden_field :company, value: @stocks.name %>
  <%= f.hidden_field :symbol, value: @stocks.symbol %>
  <%= f.hidden_field :current_price, value: @stocks.price %>

  <b>
    <%= @stocks.name + ' - ' + @stocks.symbol%><br />
  </b>
  </br>
  <p>
    <%= 'Price: ' + @stocks.price.to_s%><br />
  </p>
  <p>
    <%= 'Shares: ' + params[:shares].to_s%><br />
  </p>

  <% if params[:button] == 'buy'%>
    <p>
      <%= f.number_field :shares , min: 1, placeholder: "no. of stocks"%>
    </p>
    <% else %>
    <p>
      <%= f.number_field :shares, min: 1, max: @max,placeholder: "enter <= "+@max.to_s + " stocks"%>
    </p>

  <%end%>
  
  <p>
    <%= f.submit params[:button] %>
  </p>
  
<% end %>
<%= button_to "go back", trader_dashboard_portfolio_path, method: :get%>

