<div class="container text-center mt-5 text-bg-primary" style="padding: 3rem; border-radius:10px">
<h1 style="text-decoration:underline;text-decoration-thickness: 5px;">StocK-InfinI-TradE</h1>

<% if params[:login] == "not_approved"  %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

  <div class="row mt-5">

    <div class="col">
    </div>

    <div class="col">
        <h1>Trader</h1>
        <%= button_to "Log In", trader_dashboard_index_path, method: :get%>
        </br>
        <%= button_to "Register", new_user_registration_path, method: :get%>
    </div>
    <div class="col">
        <h1>Admin</h1>
        <%= button_to "Log In", admin_dashboard_alltraders_path, method: :get%>
        </br>
        <%= button_to "Register", new_admin_registration_path, method: :get%>
    </div>

    <div class="col">
    </div>

  </div>
</div>













